doc/math/*.aux
doc/math/*.log
doc/math/*.out
doc/math/*.toc
doc/math/*.bbl
doc/math/*.blg
doc/math/*.fls
doc/math/*.fdb_latexmk
study-topologies/doc/*.aux
study-topologies/doc/*.log
study-topologies/doc/*.out
study-topologies/doc/*.toc
study-topologies/doc/*.bbl
study-topologies/doc/*.blg
study-topologies/doc/*.fls
study-topologies/doc/*.fdb_latexmk
